<div class="content-background" #background *ngIf="!sendBlogVisible" style="background: #ffffff">
  <div class="content-header" #header>
    <div class="content-div" style="height: 40px;padding: 4px 8px;" *ngIf="!blogDetailVisible">
      <span (click)="back()" [title]="'返回详情列表'"
            style="font-weight: bold;line-height: 40px;margin-left: 8px;color: black; font-size: 20px">
        {{user?.information.name}}的博客
      </span>
      <div style="float: right;padding-top: 4px;">
        <button nz-button (click)="publish()">写文章</button>
      </div>
    </div>
  </div>

  <div class="content-table" style="padding-top: 8px;">
    <div nz-row style="padding-top: 30px; background: #ffffff; height: 100%" *ngIf="!blogDetailVisible">
      <div nz-col [nzSpan]="16" [nzOffset]="3">
        <nz-page-header class="site-page-header" *ngFor="let blog of blogData">
          <!--avatar-->
          <nz-avatar nz-page-header-avatar
                     [nzSrc]="'http://q87xedep1.bkt.clouddn.com/'+blog['userInformation']['imageUrl']"></nz-avatar>
          <!--title-->
          <nz-page-header-title><a (click)="changeSelectedBlog(blog)" style="font-size: 20px">{{blog['title']}}</a>
          </nz-page-header-title>
          <!--content-->
          <nz-page-header-content>
            <div nz-row>
              <div class="content">
                <p nz-paragraph style="width: 900px; line-height: 30px">
                  {{blog['publishDate'] | date: 'yyyy-MM-dd'}}：{{blog['describe']}}...
                </p>
              </div>
            </div>
          </nz-page-header-content>
          <!--extra-->
          <nz-page-header-extra>
            <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm(blog)">删除</button>
          </nz-page-header-extra>
        </nz-page-header>
      </div>
    </div>
    <app-blogdetailed *ngIf="blogDetailVisible" [markdown]="selectedBlog" (result)="back()"></app-blogdetailed>
  </div>
</div>

<app-sendblog *ngIf="sendBlogVisible" (result)="publishResult()"></app-sendblog>

