<div class="content-background" #background>
  <div class="content-header" style="padding-top: 0">
    <div class="content-div" style="border-radius: 0;">
      <div style="background-color: #ffffff; margin: 10px 10px 10px 10px;  padding-top: 20px;height: 70px">
        <div nz-row nzGutter="16">
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
            <h2>vCPU：</h2>
          </div>
          <div nz-col [nzSpan]="3" [align]="'left'">
            <nz-select [(ngModel)]="selectVCPU" name="cpu">
              <nz-option *ngFor="let p of vCPUS" [nzValue]="p['value']" [nzLabel]="p['title']"></nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="2" style="padding-left: 10px; text-align: right">
            <h2>内存：</h2>
          </div>
          <div nz-col [nzSpan]="4" [align]="'left'">
            <nz-select [(ngModel)]="selectMemory" name="cpu">
              <nz-option *ngFor="let p of memorys" [nzValue]="p" [nzLabel]="p"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div style="background-color: #ffffff; margin: 10px 10px 10px 10px;  padding-top: 20px;height: 70px">
        <div nz-row nzGutter="16">
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
            <h2>硬盘大小：</h2>
          </div>
          <div nz-col [nzSpan]="3" [align]="'left'">
            <nz-input-number [(ngModel)]="selectHardpan" [nzMin]="1" [nzMax]="500" [nzStep]="1"></nz-input-number>
          </div>
        </div>
      </div>
      <div style="margin: 10px 10px 10px 10px;  padding-top: 20px;height: 70px">
        <div nz-row nzGutter="16">
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
              <button nz-button>创建服务器</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
