<div class="content-background" #background>
  <div class="content-header" #header>
    <div class="content-div" style="height: 40px">
      <h2 style="padding-left: 20px; padding-top: 5px">云服务器</h2>
    </div>
  </div>
  <div class="content-header" style="padding-top: 0">
    <div class="content-div" style="border-radius: 0;">
      <div style="background-color: #ffffff; margin: 10px 10px 10px 10px;  padding-top: 20px;height: 85px">
        <div nz-row>
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
            <h2>付费模式：</h2>
          </div>
          <div nz-col [nzSpan]="20" [align]="'left'" style="padding-left: 20px">
            <nz-radio-group [(ngModel)]="payType">
              <label nz-radio-button nzValue="1">包年包月</label>
              <label nz-radio-button nzValue="2">按量计费</label>
              <label nz-radio-button nzValue="3">抢占式实例</label>
            </nz-radio-group>
          </div>
        </div>
        <div nz-row style="padding-top: 5px">
          <div nz-col [nzSpan]="10" [nzOffset]="2">
            <span style="color: #6A6A6A;padding-left: 30px" >按量付费 ECS 支持停机后部分资源不收费功能，可以有效降低成本，了解相关限制和触发条件</span>
          </div>
        </div>
      </div>
      <div style="background-color: #ffffff; margin: 10px 10px 10px 10px;  padding-top: 20px;height: 90px">
        <div nz-row>
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
            <h2>服务器地域：</h2>
          </div>
          <div nz-col [nzSpan]="20" [align]="'left'" style="padding-left: 20px">
            <nz-radio-group [(ngModel)]="selectAddress">
              <label nz-radio-button nzValue="1">华北1（青岛）</label>
              <label nz-radio-button nzValue="2">华北2（北京）</label>
              <label nz-radio-button nzValue="3">华南1（深圳）</label>
              <label nz-radio-button nzValue="4">华南2（上海）</label>
              <label nz-radio-button nzValue="5">新加坡</label>
              <label nz-radio-button nzValue="6">中国（香港）</label>
              <label nz-radio-button nzValue="7">日本（东京）</label>
              <label nz-radio-button nzValue="8">澳大利亚（悉尼）</label>
            </nz-radio-group>
          </div>
        </div>
        <div nz-row style="padding-top: 5px">
          <div nz-col [nzSpan]="2" [align]="'center'">
            <h6 style="color: #6A6A6A">注意事项：</h6>
          </div>
          <div nz-col [nzSpan]="20" nzOffset="2">
            <span style="color: #6A6A6A">不同地域的实例之间内网互不相通；选择靠近您客户的地域，可降低网络时延、提高您客户的访问速度</span>
          </div>
        </div>
      </div>
      <div style="background-color: #ffffff; margin: 10px 10px 10px 10px;  padding-top: 20px;height: 70px">
        <div nz-row>
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
            <h2>镜像：</h2>
          </div>
          <div nz-col [nzSpan]="20" [align]="'left'">
            <nz-select [(ngModel)]="selectSystem" (ngModelChange)="systemChange($event)" name="select"
                       style="width: 150px">

              <nz-option *ngFor="let p of systems" [nzValue]="p" [nzLabel]="p"></nz-option>
            </nz-select>
            <nz-select [(ngModel)]="selectSystemBanben" name="select2" style="width: 220px">
              <nz-option *ngFor="let c of systemsBanBen[selectSystem]" [nzValue]="c" [nzLabel]="c"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div style="background-color: #ffffff; margin: 10px 10px 10px 10px;  padding-top: 20px;height: 70px">
        <div nz-row nzGutter="16">
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
            <h2>vCPU：</h2>
          </div>
          <div nz-col [nzSpan]="3" [align]="'left'">
            <nz-select [(ngModel)]="selectVCPU" name="cpu">
              <nz-option *ngFor="let p of vCPUS" [nzValue]="p['value']" [nzLabel]="p['title']"></nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="2" style="padding-left: 10px; text-align: right">
            <h2>内存：</h2>
          </div>
          <div nz-col [nzSpan]="4" [align]="'left'">
            <nz-select [(ngModel)]="selectMemory" name="cpu">
              <nz-option *ngFor="let p of memorys" [nzValue]="p" [nzLabel]="p"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div style="background-color: #ffffff; margin: 10px 10px 10px 10px;  padding-top: 20px;height: 70px">
        <div nz-row nzGutter="16">
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
            <h2>硬盘大小：</h2>
          </div>
          <div nz-col [nzSpan]="3" [align]="'left'">
            <nz-input-number [(ngModel)]="selectHardpan" [nzMin]="1" [nzMax]="500" [nzStep]="1"></nz-input-number>
          </div>
        </div>
      </div>
      <div style="margin: 10px 10px 10px 10px;  padding-top: 20px;height: 70px">
        <div nz-row nzGutter="16">
          <div nz-col [nzSpan]="2" style="padding-left: 10px">
              <button nz-button>创建服务器</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
