<div class="content-background" #background>
  <div class="content-header" style="padding-top: 0;">
    <div class="content-div" style="border-radius: 0; background-color: #ebecef">
      <div style="padding:0px 0; background: transparent">
        <br><br>
        <form nz-form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>
              原密码
            </nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input nz-input type="password" formControlName="oldPassword" placeholder="原密码"/>
            </nz-form-control>
          </nz-form-item>
          <br>
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>
              新密码
            </nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入新密码">
              <input nz-input type="password" formControlName="newPassword" placeholder="新密码"/>
            </nz-form-control>
          </nz-form-item>
          <br>
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired>
              确认密码
            </nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
              <input nz-input type="password" formControlName="confirmPassword" placeholder="确认密码"/>
            </nz-form-control>
          </nz-form-item>
          <br>
          <nz-form-item>
            <nz-form-control [nzOffset]="5" [nzSpan]="12">
              <button nz-button nzType="primary" [disabled]="!passwordForm.valid">修改密码</button>
              <button nz-button (click)="resetForm($event)">重置</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
</div>
<button (click)="changePassword()">测试</button>
<ng-template #passwordErrorTpl let-control>
  <ng-container *ngIf="control.hasError('required')">
    请再次输入密码
  </ng-container>
  <ng-container *ngIf="control.hasError('confirm')">
    两次密码不一致
  </ng-container>
</ng-template>
