<div class="content-background" #background style="background-color: #ffffff">
  <div class="content-header" style="padding-top: 5px; height: 40px;background-color: #ebecef">
    <div nz-row [nzGutter]="20">
      <div nz-col nzSpan="4" [nzOffset]="1">
        <button nz-button nzType="primary" nzSize="default" (click)="applyOpen()">新增</button>
      </div>
    </div>
  </div>
  <div class="content-table" style="padding-left: 8px;">
    <nz-table
      #basicTable
      [nzData]="listOfData"
      nzShowPagination
      nzShowSizeChanger
      style="width: auto">
      <thead>
      <tr>
        <th [nzAlign]="'center'">实例ID/名称</th>
        <th [nzAlign]="'center'">IP地址</th>
        <th [nzAlign]="'center'">内存大小</th>
        <th [nzAlign]="'center'">硬盘大小</th>
        <th [nzAlign]="'center'">内核数</th>
        <th [nzAlign]="'center'">带宽大小</th>
        <th [nzAlign]="'center'">申请日期</th>
        <th [nzAlign]="'center'">运行状态</th>
        <th nzWidth="200px" [nzAlign]="'center'">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index" [ngClass]="{'selected-tr':data === selectData}"
          (click)="changeselectData(data)">
        <td [nzAlign]="'center'">{{ i + 1 }}</td>
        <td [nzAlign]="'center'">{{ data.ip }}</td>
        <td [nzAlign]="'center'">{{ data.memory }}</td>
        <td [nzAlign]="'center'">{{ data.hardpan }}</td>
        <td [nzAlign]="'center'">{{ data.core }}</td>
        <td [nzAlign]="'center'">{{ data.bandWith }}</td>
        <td [nzAlign]="'center'">{{ data.startDate| date:'yyyy-MM-dd' }}</td>
        <td [nzAlign]="'center'">
          <ng-container *ngIf="data.state == 1"><span style="color: #00d95a">
            <i nz-icon nzType="right-circle" nzTheme="outline"></i> 正在运行</span>
          </ng-container>
          <ng-container *ngIf="data.state == 0"><span style="color: red">
            <i nz-icon nzType="stop" nzTheme="outline"></i>&nbsp;&nbsp;&nbsp;&nbsp;停止</span>
          </ng-container>
        </td>
        <td [nzAlign]="'center'">
          <a>重启</a>
          <a>删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<app-cloudapply [isVisible]="applyVisible" (result)="applyBack(1)" (saveResult)="applyBack(2)"></app-cloudapply>

