<nz-card nzTitle="用户管理">
  <!--预留接口并不实现删除用户与清空用户, 没实现操作超级管理员用户体系-->
  <!--<nz-popconfirm nzTitle="您确定要删除所有用户吗?" nzOkText="确认" nzCancelText="取消" (nzOnConfirm)="delAllUsers()">-->
  <!--<button nz-popconfirm nz-button class="link-btn" [nzType]="'danger'">清空用户</button>-->
  <!--</nz-popconfirm>-->
  <nz-table
    [nzShowPagination]="false"
    #table
    nzBordered
    [nzData]="dataSet">
    <thead>
    <tr>
      <th nzWidth="10%">用户ID</th>
      <th>用户名</th>
      <th>用户昵称</th>
      <th>登录时间|登录IP</th>
      <th>用户头像</th>
      <th>用户简介</th>
      <th nzWidth="10%">状态</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </nz-table>
</nz-card>
