<div class="top-bar">

  <div id="logo">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"
         style="margin-right:30px;margin-left: 28px; margin-top: 0px; height: 25px">
  </div>
  <div id="search-div">
    <div (click)="isCollapsed=!isCollapsed;" class="button">
      <i [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" nz-icon></i>
    </div>
  </div>

  <div id="user">
    <nz-avatar [nzDropdownMenu]="user" nz-dropdown nzPlacement="bottomRight"
               nzShape="circle" nzSrc="/assets/src/img/man.png" nzTrigger="hover"
               style="margin: -3px 8px 0 12px;cursor:pointer;">
    </nz-avatar>
  </div>
</div>

<nz-layout class="index-container">
  <nz-sider [(nzCollapsed)]="isCollapsed" [nzWidth]="200" class="index-sider" nzTheme="dark">
    <!--全部功能菜单-->
    <ul [nzInlineCollapsed]="isCollapsed"
        class="menu" nz-menu nzMode="inline" nzNoAnimation nzTheme="dark">
      <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user">Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-content #content class="content">

      <div  style="width: 100%;height: calc(100% - 31px);overflow-y: auto;">
        <router-outlet></router-outlet>
      </div>
      <!--<app-welcome *ngIf="tabs.length<=0" style="width: 100%;height: 100%;">-->
      <!--</app-welcome>-->
    </nz-content>
  </nz-layout>
</nz-layout>


<nz-dropdown-menu #user="nzDropdownMenu">
  <nz-list [nzSplit]="false" class="header-dropdown-menu" nzSize="small">
    <nz-list-item (click)="navigateTo('/index/usercenter')">
      <i nz-icon type="user"></i>&nbsp;
      个人中心
    </nz-list-item>
    <nz-list-item (click)="logout()" class="top-border">
      <i nz-icon type="logout"></i>&nbsp;
      注销
    </nz-list-item>
  </nz-list>
</nz-dropdown-menu>
