<div style="padding-top: 50px; padding-left: 200px; padding-right: 50px;">
  <div>
    <div style=" line-height: 50px">
      <h1>FaceBook</h1>
    </div>
    <div style="line-height: 30px">
      <h3>
        Facebook拥有超过6万台服务器，硬件完全自行设计，并被归为Open Compute Project。
      </h3>
    </div>
    <div>
      <img src="https://img-blog.csdn.net/20180910161728297?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2E0OTE2NDYxMDE=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="facebook">
    </div>
    <div style="width: 1000px;line-height: 30px; padding-top: 30px">
      <p>底层由运行MySQL的八核Linux服务器组成，Facebook有大约800个这样的服务器，分发大约40TB的用户数据。
        中间层由缓存服务器组成，大约95％的数据查询可以从缓存服务器的15TB RAM中填充，
        因此每秒只有500,000个查询必须传递给MySQL数据库及其相对较慢的硬盘驱动器。</p>
      <br>
    </div>
    <div>
      <img alt="facebook2" src="https://img-blog.csdn.net/20180910161739129?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2E0OTE2NDYxMDE=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70">
    </div>
  </div>
  <div style="padding-top: 50px">
    <div style="line-height: 50px">
      <h1>阿里云</h1>
    </div>
    <div>
      <img src="https://img-blog.csdn.net/20180910161805377?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2E0OTE2NDYxMDE=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="alibaba">
    </div>
  </div>
  <div style="padding-top: 50px">
    <div style="line-height: 50px">
      <h1>Twitter</h1>
    </div>
    <div>
      <img src="https://img-blog.csdn.net/20180910161748433?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2E0OTE2NDYxMDE=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="facebook">
    </div>
    <div>
      <img alt="twitter" src="https://img-blog.csdn.net/20180910161757538?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2E0OTE2NDYxMDE=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70">
    </div>
  </div>
</div>
